---

---
<div class="relative h-[200vh] w-full">
    <div class="h-screen overflow-hidden flex flex-col items-center justify-center sticky top-0">
        <h1 class="text-6xl font-bold mb-4">Zzyzx Lab</h1>
        <p>One of the last frontiers in technology.</p>
    </div>
    <div class="h-screen w-screen absolute bottom-0 left-0 bg-linear-to-b from-transparent to-black/50 pointer-events-none"></div>
</div>