---
---
<div class="flex flex-col items-center justify-center">
    <h2 class="">Projects</h2>
    <div class="flex flex-row">
        <ul>
            <!-- To be changed to components. -->
           <li>Sea Wallet</li>
           <li>Nereus</li>
           <li>BermuDAO</li> 
        </ul>
    </div>
</div>