---
import SeaWallet from "../Acts/SeaWallet.vue"
---
<div class="flex flex-col items-center justify-center">
    <div class="flex flex-row">
        <ul>
            <!-- To be changed to components. -->
           <li><SeaWallet client:load/></li>
           <li>Nereus</li>
           <li>BermuDAO</li> 
        </ul>
    </div>
</div>